<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/stylesheets/second.css" rel="stylesheet">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"></script>
    
</head>
<body>

    <div class="container-fluid">
        <div class = "row">
            <div class= "col-lg-3">
                <img src = "http://storage2.timheuer.com/boratcircle.png"/>
            </div>
            <div class= "col-lg-6">
                <h2> Description</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class= "col-lg-3">
                <h2>Verified Information</h2>
                <ul>
                    <li>Name</li>
                    <li>Residence</li>
                    <li>Occupation</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class = "row">
            <div class= "col-lg-4">
                <h2>User Reviews</h2>
                <ul>
                    <li>Jason</li>
                    <li>Robert</li>
                    <li>Raj</li>
                </ul>
                
            </div>
            <div class= "col-lg-8">
                <h2>Current Inventory</h2>
                <ul>
                    <li>Jason</li>
                    <li>Robert</li>
                    <li>Raj</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>


</html>
