{% extends "layout.html" %} {% block content %}

<div class="container-fluid">
    <div class="row" id="profile-head">
        <div class="col-lg-3">
            <img src=http://www.hfgip.com/sites/default/files/media/Images/valentin_profile_pic_circular.png />
        </div>
        <div class="col-lg-6">
            <h2> Seller Description</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-lg-3">
            <h2>Verified Information</h2>
            <ul>
                <li>Name <img id="check" src="https://www.drupal.org/files/project-images/Very-Basic-Checked-checkbox-icon.png"
                    /></li>
                <li>Residence <img id="check" src="https://www.drupal.org/files/project-images/Very-Basic-Checked-checkbox-icon.png"
                    /></li>
                <li>Occupation <img id="check" src="https://www.drupal.org/files/project-images/Very-Basic-Checked-checkbox-icon.png"
                    /></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <h3>User Reviews</h3>
            <ul>
                <li><b>Jason</b>
                    <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i></p>
                </li>
                <li><b>Robert</b>
                    <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i></p>
                </li>
                <li><b>Raj</b>
                    <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i></p>
                </li>
            </ul>

        </div>
        <div class="col-lg-8">
            <h3>Current Inventory</h3>
            <div data-type="produce-row" class='row clearfix'>
                <div class="col-md-4"><img class='img-responsive' id="ban" src="http://cdn1.medicalnewstoday.com/content/images/articles/271157-bananas.jpg"
                        alt=""></div>
                <div class="col-md-8">
                    <h4>Bananas</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div data-type="produce-row" class='row clearfix'>
                <div class="col-md-4"><img class='img-responsive' id="ban" src="http://cdn1.medicalnewstoday.com/content/images/articles/271157-bananas.jpg"
                        alt=""></div>
                <div class="col-md-8">
                    <h4>More Bananas</h4>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div data-type="produce-row" class='row clearfix'>
                <div class="col-md-4"><img class='img-responsive' id ="ban" src="http://cdn1.medicalnewstoday.com/content/images/articles/271157-bananas.jpg"
                        alt=""></div>
                <div class="col-md-8">
                    <h4>Even More Bananas</h4>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}