/*.container {
    background-color: black;
}*/

#profile-head {
    background-color: #d3d3d3;
}

div {
    display: block;
}

#check {
    height: 14px;
    width: 14px;
}

#ban {
    height: 100px;
    width: 150px;
    display: block;
    margin: 0 auto;
}

